body*{
    box-shadow: 0px 0px 0px 1px rgba(rgb(255, 0, 0), rgb(0, 255, 0), blue, alpha)
}
.cor-fundo{
    background-color: rgb(226, 226, 217);
}
.btn-200px{
width:  200px;
}
#margem{
    margin-bottom: 50px;
    margin:10px;
}
.planta{
    align-items: baseline;
height: 100px;
width: 100px;
}
 #margem{
margin-top: 20px;
 }
